@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* common style */
:root {
    --color1: #7d7987;
    --color2: #fff;

}

/* universal style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* all body style */
body {
    font-family: "Mulish", sans-serif;
}

/* container style */
.container {
    padding: 20px 50px;
    background: #ECF9FF;
}

/* ---------------------------
    navbar section style
============================== */

nav {
    /* position: fixed; */
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #fff;
    padding: 10px 20px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}

button {
    color: #fff;
    background: #060640;
    border-radius: 8px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #060640d2;
}

.btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    font-size: 18px;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #1f1534;
    transition: 0.4s ease-in-out;
}

.menu li a:hover,
.menu li a:hover::after {
    width: 100%;
    color: #00E5CC;
}

.open-menu,
.close-menu {
    position: absolute;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.video-btn {
    display: flex;
    align-items: center;
}

/* ---------------------------
    banner section style
============================== */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    margin-top: 120px;
}

.header-content {
    flex-shrink: 0;
}

.header-title {
    font-family: "Mulish", sans-serif;
    color: #060640;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 65px;
}

.header-pera {
    color: #7D7987;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
}

.dis-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.header-img img {
    max-width: 100%;
    height: auto;
}

/* how-it-works section style */

.section-style {
    padding: 0 50px;
    margin-bottom: 102px;
}

.section-title {
    text-align: center;
    margin: 120px 0 80px;
}

.process {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    margin: 20px;
    padding: 10px;
    border-radius: 14px;
    border: 2px solid rgba(6, 6, 64, 0.507);
    color: var(--Primary, #060640);
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.process-box img {
    width: 80px;
    height: auto;
}

/* about section style */

.about-banner {
    display: flex;
}

.about-cart {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

h3 {
    color: var(--Primary, #060640);
    font-size: 30px;
    font-weight: 600;
    line-height: 28px;
}

.about-cart img {
    width: 70px;
    height: 60px;
}






@media screen and (max-width: 600px) {
    .container {
        padding: 20px 0px;
        background: #ECF9FF;
    }

    nav {
        left: 0;
    }

    .container {
        margin: 0 15px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f3f3f3;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all 0.4s ease-in-out;
        z-index: 100;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .header-container {
        flex-direction: column-reverse;
        align-items: baseline;
        gap: 30px;
        flex-wrap: wrap;
        margin: 0;
    }

    .header-content {
        width: 100%;
        padding: 15px;
    }

    .header-title {
        font-size: 38px;
    }

    .header-pera {
        text-align: justify;
    }

    .header-img img {
        width: 100%;
        margin: 0 15px;
    }

    .how-it-works {
        padding: 0 10px;
        margin-bottom: 102px;
    }

    .process-box{
        width: 100%;
    }

    .process,
    .about-banner {
        flex-direction: column;
    }

    .about-img img{
        width: 100%;
    }
}